<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d70d29ff66.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/login.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <main>
    <header>
        <div class="header-completo">
            <a href="home"><img src="./images/mercadoliebre.png" alt="mercado liebre" class="logo"></a>
                <div class="buscador">
                    <input type="text" placeholder="Buscar productos..." name="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            <div class="todo-cuotas">
                <h4 class="cuotas"><i class="fa-solid fa-hand-holding-dollar" id="mano"></i>Comprá en cuotas y sin tarjeta de crédito</h4>
            </div>
        </div>
        <nav class="navegador">
            <ul class="links" type="none">
                <li>
                    <a href="">Ofertas</a>
                </li>
                <li class="link">
                    <a href="">Tiendas oficiales</a>
                </li>
                <li class="link">
                    <a href="">Vender</a>
                </li>
                <li class="link">
                    <a href="">Ayuda</a>
                </li>
            </ul>
            <ul class="links" type="none">
                <li>
                    <a href="register">Crea tu cuenta</a>
                    <i class="fa-regular fa-id-card"></i>
                </li>
                <li class="link">
                    <a href="login">Ingresa</a>
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </li>
                <li class="link">
                    <a href="" >Mis compras</a>
                    <i class="fa-solid fa-basket-shopping"></i>
                </li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars" id="menu"></i>
        </div>
        <img src="./images/banner.jpg" alt="banner" class="banner">
    </header>
    <section>
        <div class="login">
            <form action="">
                <div class="container">
                    <div class="nombre-de-usuario">
                        <input type="text" name="nombre-de-usuario" placeholder="Nombre de usuario"  minlength="4" maxlength="25" required>
                        <span class="feedback"></span>
                    </div>
                    <div class="contraseña">
                        <input type="password" name="contraseña" placeholder="Ingresa tu contraseña" minlength="6" required>
                    </div>
                    <div class="boton-enviar">
                        <a href="home"><button type="submit">Enviar</button></a>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <footer>
        <div>
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </div>
        <div>
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </div>
        <div>
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </div>
        <div class="copyright"> 
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </div>
    </footer>
    </main>
</body>