*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Slab', serif;
    width: 100vw;
    margin: 0 auto;
}

main{

    font-size: 12px;
    text-decoration: none;
}

header{
    background-color: #EAC926;
}

.logo{
    width: 250px;
    height: 25%;
    margin: 0px;
}

.buscador{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 15px;
}

.buscador input{
    padding-left: 5px;
}

.buscador i{
    padding-left: 5px;
}

.cuotas{
    text-align: center;
    margin: 0 0 0 0;
}

.navegador{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 8vw;
    padding: 0 0 20px 0;
}

.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


nav ul a{
    text-decoration: none;
}

.link{
    padding: 0 0 0 20px;
}

nav ul li i {
    padding-left: 2px;
}

.burger-menu{
    text-align: center;
}

#menu{
    color: white;
    margin: 10px;
    background-color: #1259c3;;
    border-radius: 10%;
    padding: 10px;
    align-content: center;
}

.banner{
    width: 100vw;
    padding: 0;
    display: none;
}

/* Cuerpo */

.registro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #ebebeb;
}

form{
    text-align: center;
    background-color: white;
    width: 30vw;
    border: 1px rgba(0,0,0, 0.2) solid;
    border-radius: 10px;
    padding: 20px;
}

.text-nombre-mail{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.text-nombre-mail div{
    width: 85%;
    margin: 12px 0 0 0;
}

.text-nombre-mail div p{
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin: 0 12px 0 12px;
    position: relative;
    left: 2%;
}



.container-all-nombre-usuario-mail{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.container-all-nombre-usuario-mail div{
    width: 85%;
    margin: 12px;
}

.container-all-nombre-usuario-mail div input{
    height: 25px;
    border: white 1px solid;
    border-radius: 4px;
    padding: 4px 0 4px 5px;
    box-shadow: 0px 0px 3px rgb(100, 100, 100);
}


.fecha-de-nacimiento{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.fecha-de-nacimiento div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 12px;
}

.fecha-de-nacimiento div p{
    font-size: 16px;
    font-weight: bold;
    margin: 0 12px 12px 12px;
    align-self: flex-start;
    position: relative;
    left: 2%;
}

.fecha-de-nacimiento div input{
    height: 25px;
    border: white 1px solid;
    border-radius: 4px;
    padding: 4px 0 4px 5px;
    box-shadow: 0px 0px 3px rgb(100, 100, 100);
}

.domicilio{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.domicilio div{
    width: 85%;
    margin: 12px;
}

.domicilio div input{
    height: 25px;
    border: white 1px solid;
    border-radius: 4px;
    padding: 4px 0 4px 5px;
    box-shadow: 0px 0px 3px rgb(100, 100, 100);
}

.container-all-password{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.container-password-text{
    width: 85%;
    margin: 12px;
}

.container-password-text p{
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin: 0 12px 12px 12px;
    position: relative;
    left: 2%;
}

.container-password div{
    margin: 12px 0 0 0;
}

.container-password div input{
    height: 25px;
    border: white 1px solid;
    border-radius: 4px;
    padding: 4px 0 4px 5px;
    box-shadow: 0px 0px 3px rgb(100, 100, 100);
}

.perfil-de-usuario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.inputs-labels{
    width: 85%;
    margin: 12px;
}

.perfil-de-usuario div p{
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin: 0 12px 12px 12px;
    position: relative;
    left: 2%;
}

.labels-perfil-de-usuario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.labels-perfil-de-usuario div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    margin: 12px 0 0 0;
}

.labels-perfil-de-usuario div input{
    width: 25%;
}

.labels-perfil-de-usuario div label{
    width: 25%;
}

.intereses-usuario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.conjunto-intereses-usuarios{
    width: 85%;
    margin: 12px;
}

.conjunto-intereses-usuarios p{
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin: 0 12px 12px 12px;
    position: relative;
    left: 2%;
}

.interes-usuario{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.interes-usuario div{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin: 12px;
}

.interes-usuario div input{
    width: 50%;
}

.foto-usuario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.foto-perfil{
    width: 85%;
    margin: 12px;
}

.foto-perfil p{
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin: 0 12px 12px 12px;
    position: relative;
    left: 2%;
}

.foto-perfil div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-left: 20px;
}


.foto-perfil div input{
    width: 50%;
    flex-grow: 1;
}

.foto-perfil div label{
    width: 35%;
    text-align: left;
    position: relative;
}

.foto-perfil div label:hover{
    cursor: pointer;
}

.foto-perfil div input:hover{
    cursor: pointer;
}

.container-all-buttons{
    margin: 12px;
}

.enviar-borrar{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 87.8%;
    margin: 12px;
}

.enviar{
    margin: 5px 5px 5px 0px;
}

.enviar button{
    width: 100px;
    color: white;
    height: 25px;
    background-color: #3483fa;
    border: solid 1px #3483fa;
    border-radius: 4px;
    padding: 4px 5px 4px 5px;
    transition: all 450ms;
}

.enviar button:hover{
    border: solid 1px #2968c8;
    background-color: #2968c8;
    cursor: pointer;
}

.borrar{
    margin: 5px 0 5px 5px;
}

.borrar button{
    width: 100px;
    color: #3483fa;
    height: 25px;
    background-color: white;
    border: solid 1px white;
    border-radius: 4px;
    padding: 4px 5px 4px 5px;
    transition: all 450ms;
}

.borrar button:hover{
    border: solid 1px #ebf3fd;
    background-color: #ebf3fd;
    cursor: pointer;
}

/* Footer */

footer{
    box-sizing: border-box;
    background-color: white;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer div{
    box-sizing: border-box;
    padding-top: 40px;
    margin-bottom: 15px;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div i{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
    transition: all 300ms;
} 

footer div i:hover{
    color:#36a33a;
}

footer div p{
    width: 50%;
    align-self: center; 
}


.copyright{
    text-align: left;
    box-sizing: border-box;
    opacity: 50%;
    margin: 0px 10px 15px 10px;
}

.copyright h4{
    text-align: left;
    width: 100%;
}









@media(max-width: 360px){
    .navegador{
        display: none;
    }
    .banner{
        padding: 0;
        margin: 0;
    }

    .header-completo{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 10px 0 10px;
        padding: 10px 0 10px 0;
    }
    .logo{
        width: 150px;
        height: 25%;
        flex-grow: 0.50;
    }
    .buscador{
        margin: 0 0 0 10px;
        padding: 0;
        flex-grow: 0.50;
    }

    /* Cuerpo */

    form{
        text-align: center;
        background-color: white;
        width: 90vw;
        border: 1px rgba(0,0,0, 0.2) solid;
        border-radius: 10px;
        padding: 20px;
        align-self: center;
    }

    .registro{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        background-color: #ebebeb;
    }

    .container-all-nombre-usuario-mail div input{
        width: 85%;
    }

    .fecha-de-nacimiento div input{
        width: 85%;
    }

    .domicilio div input{
        width: 85%;
    }

    .container-password div input{
        width: 85%;
    }

    .interes-usuario div{
        width: 70%;
    }

    .foto-perfil div{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 12px;
    position: relative;
    left: 2%;
    padding:0;
    }

    .foto-perfil div label{
        width: 100%;
        padding: 12px 0;
    }

    .foto-perfil div input{
        width: 100%;
        padding: 12px 0 0 0;
    }

    .container-all-buttons{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    .container-enviar-borrar{
        width: 85%;
        margin: 12px;
    }

    .enviar-borrar{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        width: 89.5%;
        margin: 12px;
    }

    .enviar{
        width: 50%;
        margin: 0;
    }

    .enviar button{
        width: 90%;
    }


    .borrar{
        width: 50%;
        margin: 0;
    }

    .borrar button{
        width: 90%;
    }

}










@media(min-width: 361px) and (max-width: 768px){
    .burger-menu{
        display: none;
    }
    .links-header{
        padding-bottom: 20px;
    }
    .productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0 10px 0;
    }
    .producto{
        margin: 30px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .header-completo{
        box-sizing: border-box;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        margin: 0 20px 0 20px;
        padding: 10px 0 10px 0;
    }
    .logo{
        width: 150px;
        height: 105%;
        align-self: center;
        padding: 0;
    }
    .buscador{
        padding: 0 0 0 25px;
        align-self: center;
        width: 200px;
        margin: 0 0 0 0px;
    }
    .todo-cuotas{
        padding: 0;
        align-self: center;
    }
    .cuotas{
        margin: 0;
    }
    .navegador{
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 0 20px 0 20px;
        padding: 0 0 20px 0;
    }

    .links{
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 0 0 0;
    }
    .link{
        padding: 0 0 0 10px;
    }

    /* Cuerpo */

    form{
        text-align: center;
        background-color: white;
        width: 70vw;
        border: 1px rgba(0,0,0, 0.2) solid;
        border-radius: 10px;
        padding: 20px;
        align-self: center;
    }

    .registro{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        background-color: #ebebeb;
    }

    .text-nombre-mail div p{
        left: 3.9%;
    }

    .container-all-nombre-usuario-mail div input{
        width: 85%;
    }

    .fecha-de-nacimiento div p{
        left: 3.9%;
    }

    .fecha-de-nacimiento div input{
        width: 85%;
    }

    .domicilio div input{
        width: 85%;
    }

    .container-password-text p{
        left: 3.9%;
    }

    .container-password div input{
        width: 85%;
    }

    .perfil-de-usuario div p{
        left: 3.9%;
    }

    .conjunto-intereses-usuarios p{
        left: 3.9%;
    }

    .interes-usuario div{
        width: 70%;
    }

    .foto-perfil p{
        left: 3.9%;
    }

    .foto-perfil div{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 12px;
    position: relative;
    left: 2%;
    padding:0;
    }

    .foto-perfil div label{
        width: 100%;
        padding: 12px 0;
        left: 2%;
    }

    .foto-perfil div input{
        width: 100%;
        padding: 12px 0 0 0;
        text-align: left;
        position: relative;
        left: 2%;
    }

    .container-all-buttons{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    .container-enviar-borrar{
        width: 85%;
        margin: 12px;
    }

    .enviar-borrar{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        width: 89.5%;
        margin: 12px;
    }

    .enviar{
        width: 50%;
        margin: 0;
    }

    .enviar button{
        width: 90%;
    }


    .borrar{
        width: 50%;
        margin: 0;
    }

    .borrar button{
        width: 90%;
    }

}







@media(min-width: 769px) and (max-width:1199px){
    .burger-menu{
        display: none;
    }
    .links-header{
        padding-bottom: 20px;
    }
    .productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0 10px 0;
    }
    .producto{
        margin: 30px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .header-completo{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 3vw 0 3vw;
        padding: 10px 0 10px 0;
    }
    .logo{
        width: 270px;
        height: 25%;
        align-self: center;
        padding: 0;
    }
    .buscador{
        padding: 0 ;
        align-self: center;
        margin: 0;
    }
    .todo-cuotas{
        padding: 0;
        align-self: center;
    }
    .cuotas{
        margin: 0;
    }

    .navegador{
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 0 3vw 0 3vw;
        padding: 0 0 20px 0;
    }

    .links{
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 0 0 0;
    }
    .link{
        padding: 0 0 0 10px;
    }

    /* Cuerpo */

    form{
        text-align: center;
        background-color: white;
        width: 40vw;
        border: 1px rgba(0,0,0, 0.2) solid;
        border-radius: 10px;
        padding: 20px;
        align-self: center;
    }

    .registro{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        background-color: #ebebeb;
    }

    .text-nombre-mail div p{
        left: 3.9%;
    }

    .container-all-nombre-usuario-mail div input{
        width: 85%;
    }

    .fecha-de-nacimiento div p{
        left: 3.9%;
    }

    .fecha-de-nacimiento div input{
        width: 85%;
    }

    .domicilio div input{
        width: 85%;
    }

    .container-password-text p{
        left: 3.9%;
    }

    .container-password div input{
        width: 85%;
    }

    .perfil-de-usuario div p{
        left: 3.9%;
    }

    .labels-perfil-de-usuario div{
        justify-content: center;
    }

    .conjunto-intereses-usuarios p{
        left: 3.9%;
    }

    .interes-usuario div{
        width: 70%;
    }

    .foto-perfil p{
        left: 3.9%;
    }

    .foto-perfil div{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 12px;
    position: relative;
    left: 2%;
    padding:0;
    }

    .foto-perfil div label{
        width: 100%;
        padding: 12px 0;
        left: 3.2%;
    }

    .foto-perfil div input{
        width: 100%;
        padding: 12px 0 0 0;
        text-align: left;
        position: relative;
        left: 3.2%;
    }

    .container-all-buttons{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    .container-enviar-borrar{
        width: 85%;
        margin: 12px;
    }

    .enviar-borrar{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        width: 89.5%;
        margin: 12px;
        position: relative;
        left: 3%;
    }

    .enviar{
        width: 50%;
        margin: 0;
    }

    .enviar button{
        width: 90%;
    }


    .borrar{
        width: 50%;
        margin: 0;
    }

    .borrar button{
        width: 90%;

    }
}





@media(min-width:1200px){
    .burger-menu{
        display: none;
    }
    .links-header{
        padding-bottom: 20px;
    }
    .productos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px 0 10px 0;
    }
    .producto{
        margin: 30px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .header-completo{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between ;
        align-items: center;
        margin: 0 5vw 0 5vw;
        padding: 10px 0 10px 0;
    }
    .logo{
        width: 350px;
        height: 35%;
        align-self: center;
        padding: 0;
    }
    .buscador{
        align-self: center;
        padding: 0;
        margin: 0;
        flex-grow: 0.30;
    }
    div div input{
        width: 90%;
    }
    .todo-cuotas{
        padding: 0;
        align-self: center;
    }
    .cuotas{
        margin: 0;
    }

    .navegador{
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 0 5vw 0 5vw;
        padding: 0 0 20px 0;
    }

    .links{
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 0 0 0;
    }
    .link{
        padding: 0 0 0 10px;
    }

    /* Cuerpo */

    .labels-perfil-de-usuario div{
        justify-content: center;
        position: relative;
        right: 10%;
    }

    .container-all-buttons{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    .container-enviar-borrar{
        width: 85%;
        margin: 12px;
    }

    .enviar-borrar{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        width: 89.5%;
        margin: 12px;
        position: relative;
        left: 3%;
    }

    .enviar{
        width: 50%;
        margin: 0;
    }

    .enviar button{
        width: 90%;
    }


    .borrar{
        width: 50%;
        margin: 0;
    }

    .borrar button{
        width: 90%;

    }
}