*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Slab', serif;
    width: 100vw;
    margin: 0 auto;
}

main{
    
    font-size: 12px;
    text-decoration: none;
}

header{
    background-color: #EAC926;
}

.logo{
    width: 250px;
    height: 25%;
    margin: 0px;
}

.buscador{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 15px;
}

.buscador input{
    padding-left: 5px;
}

.buscador i{
    padding-left: 5px;
}

.cuotas{
    text-align: center;
    margin: 0 0 0 0;
}

.navegador{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 8vw;
    padding: 0 0 20px 0;
}

.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav ul a{
    text-decoration: none;
}

.link{
    padding: 0 0 0 20px;
}

nav ul li i {
    padding-left: 2px;
}

.burger-menu{
    text-align: center;
}

#menu{
    color: white;
    margin: 10px;
    background-color: #1259c3;;
    border-radius: 10%;
    padding: 10px;
    align-content: center;
}

.banner{
    width: 100vw;
    padding: 0;
    display: block;
}


/* Cuerpo */

.cuerpo{
    background-color: #ebebeb;
    overflow: auto;
}


h3{
    font-size: 24px;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.producto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0px;
    transition: all 300ms;
}

.producto:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    opacity: 1;
}

.img{
    width: 225px;
    height: 225px;
}



.descripcion-del-producto{
    box-sizing: border-box;
    background-color: white;
    height: 50.7px;
    width: 225px;
    padding: 15px 0 15px 15px;
    text-align: left;
    margin-top: 1px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    transition: height 300ms;
}

.descripcion-del-producto:hover{
    height: 80px;
}


#camion{
    display: block;
    color: #39b54a;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    z-index: 10;
    right: 20px;
    transition: transform 500ms;
}


#camion:hover{
    transform: rotate(-90deg);
}



.precios{
    font-size: 18px;
    width: 30%;
}

.descuento{
    font-size: 16px;
    color: #39b54a;
    width: 50%;
    position: relative;
    left: 80px;
}

.descrip{
    font-size: 16px;
    margin: 12px 0 0 0;
    opacity: 0;
    transition: all 200ms;
}

.descrip:hover{
    opacity: 1;
}









/* Footer */

footer{
    box-sizing: border-box;
    background-color: white;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer div{
    box-sizing: border-box;
    padding-top: 40px;
    margin-bottom: 15px;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div i{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
    transition: all 300ms;
} 

footer div i:hover{
    color:#36a33a;
}

footer div p{
    width: 50%;
    align-self: center; 
}


.copyright{
    text-align: left;
    box-sizing: border-box;
    opacity: 50%;
    margin: 0px 10px 15px 10px;
}

.copyright h4{
    text-align: left;
    width: 100%;
}






@media(max-width: 360px){
    .navegador{
        display: none;
    }
    .banner{
        padding: 0;
        margin: 0;
    }

    .header-completo{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 10px 0 10px;
        padding: 10px 0 10px 0;
    }
    .logo{
        width: 150px;
        height: 25%;
        flex-grow: 0.50;
    }
    .buscador{
        margin: 0 0 0 10px;
        padding: 0;
        flex-grow: 0.50;
    }
    .productos{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    footer div{
        width: 80vw;
    }
    footer div p{
        width: 100%;
    }
    .copyright{
        width: 100vw;
    }
    .copyright h4{
        text-align: left;
        width: 100%;
    }
    
}

@media(min-width: 361px) and (max-width: 768px){ 
    .burger-menu{
        display: none;
    }
    .links-header{
        padding-bottom: 20px;
    }
    .productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0 10px 0;
    }
    .producto{
        margin: 30px;
    }
    .header-completo{
        box-sizing: border-box;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        margin: 0 20px 0 20px;
        padding: 10px 0 10px 0;
    }
    .logo{
        width: 150px;
        height: 25%;
        align-self: center;
        padding: 0;
    }
    .buscador{
        padding: 0 0 0 25px;
        align-self: center;
        width: 200px;
        margin: 0 0 0 0px;
    }
    .todo-cuotas{
        padding: 0;
        align-self: center;
    }
    .cuotas{
        margin: 0;
    }
    .navegador{
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 0 20px 0 20px;
        padding: 0 0 20px 0;
    }
    
    .links{
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 0 0 0;
    }
    .link{
        padding: 0 0 0 10px;
    }

    footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    footer div{
        width: 80vw;
    }
    footer div p{
        width: 100%;
    }
    .copyright{
        width: 100vw;
    }
    .copyright h4{
        text-align: left;
        width: 100%;
    }

}


@media(min-width: 769px) and (max-width:1199px){
    .burger-menu{
        display: none;
    }
    .links-header{
        padding-bottom: 20px;
    }
    .productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0 10px 0;
    }
    .producto{
        margin: 30px;
    }
    .header-completo{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 3vw 0 3vw;
        padding: 10px 0 10px 0;
    }
    .logo{
        width: 270px;
        height: 25%;
        align-self: center;
        padding: 0;
    }
    .buscador{
        padding: 0 ;
        align-self: center;
        margin: 0;
    }
    .todo-cuotas{
        padding: 0;
        align-self: center;
    }
    .cuotas{
        margin: 0;
    }

    .navegador{
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 0 3vw 0 3vw;
        padding: 0 0 20px 0;
    }
    
    .links{
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 0 0 0;
    }
    .link{
        padding: 0 0 0 10px;
    }
}

@media(min-width:1200px){
    .burger-menu{
        display: none;
    }
    .links-header{
        padding-bottom: 20px;
    }
    .productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0 10px 0;
    }
    .producto{
        margin: 30px;
    }
    .header-completo{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between ;
        align-items: center;
        margin: 0 5vw 0 5vw;
        padding: 10px 0 10px 0;
    }
    .logo{
        width: 350px;
        height: 35%;
        align-self: center;
        padding: 0;
    }
    .buscador{
        align-self: center;
        padding: 0;
        margin: 0;
        flex-grow: 0.30;
    }
    .buscador input{
        width: 90%;
    }
    .todo-cuotas{
        padding: 0;
        align-self: center;
    }
    .cuotas{
        margin: 0;
    }

    .navegador{
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 0 5vw 0 5vw;
        padding: 0 0 20px 0;
    }
    
    .links{
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 0 0 0;
    }
    
    .link{
        padding: 0 0 0 10px;
    }
}












